// right to left body
body {
	direction: rtl;
}

// Styling for input field wrapper
$gutter-width: 1.5rem !default;
.input-field {
	label {
		right: $gutter-width / 2;
	}

	.prefix ~ input,
	.prefix ~ textarea {
		margin-right: 3rem;
	}

	.prefix ~ label {
		margin-right: 3rem;
	}

}

.collapsible-header {
	i {
		float: right;
	}
}

form {
	p {
		text-align: right;
	}
}

[type="checkbox"] {

	// Text Label Style
	+ label {
		padding-right: 35px;
	}

	/* checkbox aspect */
	+ label:before {
		right: 0;
	}

}

[type="checkbox"]:checked {

	/* checkbox aspect */
	+ label:before {
		right: 10px;
	}

}

[type="checkbox"].filled-in {
	+ label:before {
		right: 10px;
	}
	+ label:after {
		right: 0;
	}
}

[type="radio"] {

	// Text Label Style
	+ label {
		padding-right: 35px;
	}

	/* radio aspect */
	+ label:before {
		right: 0;
	}
	/* radio aspect */
	+ label:after {
		right: 0;
	}

}

.row {
	// Clear floating children
	.col {
		float: right;
	}
}

// File Input

.file-field {
	.file-path-wrapper {
		padding-right: 10px;
	}
	.btn {
		float: right;
	}
}

// Badges
span.badge {
	left: 15px;
	right: inherit;
}

// Drop down
.dropdown-content {
	li {
		text-align: right;
	}
}

// Made less specific to allow easier overriding
.secondary-content {
	float: left;
}

// Breadcrumbs
.breadcrumb {

	&:before {
		content: '\E5CB';
	}

}

// Collections
.collection {

	.collection-item.avatar {
		padding-left: 0;
		padding-right: 72px;
		.circle {
			right: 15px;
			left: auto;
		}
		.secondary-content {
			left: 16px;
			right: auto;

		}

	}
	// Avatar Collection
	&.avatar {
		padding-right: 72px;
		padding-left: auto;

		.secondary-content {
			left: 16px;
		}

	}

}

//select fild

.select-wrapper {

	span.caret {
		right: auto;
		left: 0;
	}
}

// chip
.chip {
	img {
		float: right;
		margin: 0 -8px 0 12px;
	}

	i.material-icons {
		float: left;
		padding-right: 8px;
		padding-left: 0;
	}
}

blockquote {
	margin: 20px 0;
	padding-right: 1.5rem;
	border-right: 5px solid #ee6e73;
}

.input-field input[type=search] {
	padding-right: 4rem;
	width: calc(100% - 8rem);
}

.table-of-contents a.active {
	padding-right: 18px;
	border-right: 2px solid #ea4a4f;
	border-left: none;
}

.table-of-contents a {
	padding-right: 20px;
}

.table-of-contents a:hover {
	padding-right: 19px;
	border-left: none;
	border-right: 1px solid #ea4a4f;
}

td, th {
	text-align: right;
}
