body {
  direction: rtl; }

.input-field label {
  right: 0.75rem; }

.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
  margin-right: 3rem; }

.input-field .prefix ~ label {
  margin-right: 3rem; }

.collapsible-header i {
  float: right; }

form p {
  text-align: right; }

[type="checkbox"] {
  /* checkbox aspect */ }
  [type="checkbox"] + label {
    padding-right: 35px; }
  [type="checkbox"] + label:before {
    right: 0; }

[type="checkbox"]:checked {
  /* checkbox aspect */ }
  [type="checkbox"]:checked + label:before {
    right: 10px; }

[type="checkbox"].filled-in + label:before {
  right: 10px; }

[type="checkbox"].filled-in + label:after {
  right: 0; }

[type="radio"] {
  /* radio aspect */
  /* radio aspect */ }
  [type="radio"] + label {
    padding-right: 35px; }
  [type="radio"] + label:before {
    right: 0; }
  [type="radio"] + label:after {
    right: 0; }

.row .col {
  float: right; }

.file-field .file-path-wrapper {
  padding-right: 10px; }

.file-field .btn {
  float: right; }

span.badge {
  left: 15px;
  right: inherit; }

.dropdown-content li {
  text-align: right; }

.secondary-content {
  float: left; }

.breadcrumb:before {
  content: '\E5CB'; }

.collection .collection-item.avatar {
  padding-left: 0;
  padding-right: 72px; }
  .collection .collection-item.avatar .circle {
    right: 15px;
    left: auto; }
  .collection .collection-item.avatar .secondary-content {
    left: 16px;
    right: auto; }

.collection.avatar {
  padding-right: 72px;
  padding-left: auto; }
  .collection.avatar .secondary-content {
    left: 16px; }

.select-wrapper span.caret {
  right: auto;
  left: 0; }

.chip img {
  float: right;
  margin: 0 -8px 0 12px; }

.chip i.material-icons {
  float: left;
  padding-right: 8px;
  padding-left: 0; }

/*font yekan */
@font-face {
  font-family: "B-YEKAN";
  src: url("font/B-YEKAN.otf") format("otf"), url("font/B-YEKAN.ttf") format("ttf");
  font-weight: 200; }

html {
  font-family: B-YEKAN; }
  
blockquote {
  margin: 20px 0;
  padding-right: 1.5rem;
  border-right: 5px solid #ee6e73;
}
.input-field input[type=search] {
  padding-right: 4rem;
  width: calc(100% - 8rem);
}
.table-of-contents a.active {
    padding-right: 18px;
    border-right: 2px solid #ea4a4f;
    border-left: none;
}
.table-of-contents a {
    padding-right: 20px;
}
.table-of-contents a:hover {
    padding-right: 19px;
    border-left: none;
    border-right: 1px solid #ea4a4f;
}
td, th {
    text-align: right;
}
